[project]
	description = Android app
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RomanUsynin
[access "refs/for/refs/*"]
	read = group user/RomanUsynin
	push = group user/RomanUsynin
	label-Code-Review = -2..+2 group user/RomanUsynin
	label-Verified = -1..+1 group user/RomanUsynin
	rebase = group user/RomanUsynin
	removeReviewer = group user/RomanUsynin
	submit = group user/RomanUsynin
[access "refs/heads/*"]
	read = group user/RomanUsynin
	create = group user/RomanUsynin
	push = +force group user/RomanUsynin
	pushMerge = group user/RomanUsynin
[access "refs/tags/*"]
	push = +force group user/RomanUsynin
	pushTag = group user/RomanUsynin
	pushSignedTag = group user/RomanUsynin
